.card-link {
  text-decoration: none;
  height: 90%;
  width: 90%;

  .card-container {
    height: 100%;
    width: 100%;
    color: #FFFFFF;
    transition: 5ms;
  }

  .image {
    height: 55%;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
  }

  .title {
    height: 45%;
    display: flex;
    flex-direction: column-reverse;

    font-weight: 600;
    font-size: 2vw;
  }

  .material-icons-sharp {
    font-size: 6vw;
  }

  .card-container:hover {
    color: #e4a925;
  }

  @media screen and (max-width: 720px)  {
    .title {
      font-size: 7vw;
    }
    
    .material-icons-sharp {
      font-size: 20vw;
    }
  }
}
