.listHeader {
  font-weight: bold;
  font-size: 18px;
}

.listChild a {
  text-decoration: none;
  font-weight: 600;
  color: #2DA6C0;
}

.listView ul, ol {
  margin: 0;
  padding-top: 8px;
  padding-left: .4em;
  margin-left: .8em 0;
}

.listView li {
  margin-left: 1em;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1.65em;
}

.listChild a:hover {
  color: #EF5AD8;
}

@media (prefers-color-scheme: dark) {
  .listChild {
    color: #46D3F0;
  }

  .listChild a:hover {
    color: #DD60CA;
  }
}