.contribute {
  margin-top: 48px;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.shortcutsLogo {
  width: 128px;
}

.aboutHeader {
  font-weight: bold;
  font-size: 18px;
  padding-top: 24px;
  padding-bottom: 8px;
}

.contribute a {
  text-decoration: none;
  font-weight: 600;
  color: #2DA6C0;
}

.contribute a:hover {
  color: #EF5AD8;
}

@media (prefers-color-scheme: dark) {
  .contribute {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }
}