.ticker  {
  // width: 100%;
  padding: 12px 8px;
  border: 3px solid #0A0A0A;
  margin-bottom: 16px;

  .ticker-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;

    animation: fadeInOut 5s ease-out 0s 1;
    -webkit-animation: fadeInOut 5s ease-out 0s 1;
  }

  @keyframes fadeInOut {
    0%   {opacity: 0;}
    10%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
  }

  .ticker-header {
    font-weight: 700;
    padding-right: 12px;
    color: rgba(0, 0, 0, 0.56)
  }
  .ticker-info {
    font-weight: 500;
  }

}