.red {
  background-color: #BE3119;
}

.orange {
  background-color: #D45515;
}

.yellow {
  background-color: #D8B22B;
}

.green {
  background-color: #209D07;
}

.blue {
  background-color: #1E60D5;
}

.purple {
  background-color: #9412B9;
}

.turquoise {
  background-color: #29DEC5;
}

.gray {
  background-color: #636363;
}

.pink {
  background-color: #D50A8A;
}

.dark-blue {
  background-color: #1b2faf;
}

@media (prefers-color-scheme :dark) {
  .red {
    background-color: #C2341C;
  }
  
  .orange {
    background-color: #D0632C;
  }
  
  .yellow {
    background-color: #DFB524;
  }
  
  .green {
    background-color: #3CA227;
  }
  
  .blue {
    background-color: #296ADF;
  }
  
  .purple {
    background-color: #A122C5;
  }
  
  .turquoise {
    background-color: #31BEAA;
  }
  
  .gray {
    background-color: #7C7C7C;
  }
  
  .pink {
    background-color: #E1219A;
  }

  .dark-blue {
    background-color: #1A35E6;
  }
}