.cardList {
  width: 100%;
}

.header {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 12px;
}

.list {
  display: grid;
  // grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));

}

.cardView {
  // padding-left: 16px;
  // padding-right: 16px;
  margin-bottom: 16px;;
}

.empty {
  flex: 1,
}

// mobile responsiveness
// @media (max-width: 1150px) {
//   .list {
//     grid-template-columns: repeat(3, 1fr);
    
//   }
// }

@media (max-width: 750px) {
  .list {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

@media (max-width: 450px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }

  .cardView {
    width: 100%;
  }
}

// @media (min-width: 1500px) {
//   .list {
//     grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
// }
// }