.cardList {
  width: 100%;
}

.header {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 12px;
}

.cardListView {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  // grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.cardView {
  // padding-left: 16px;
  // padding-right: 16px;
  margin-bottom: 16px;
  // flex: 0 1 calc(10% );
}

.empty {
  flex: 1,
}


/* Hardcoding solution */

@media (max-width: 2000px) {
  .cardListView {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1800px) {
  .cardListView {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1400px) {
  .cardListView {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1200px) {
  .cardListView {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .cardListView {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .cardView {
    width: 100%;
  }
}
