.cardList {
  display: grid;
  // flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: space-between;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  // padding-left: 16px;
  // padding-right: 16px;
  margin-bottom: 16px;;
}

.empty {
  flex: 1,
}

// mobile responsiveness
@media (max-width: 1150px) {
  .cardList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 845px) {
  .cardList {
    grid-template-columns: repeat(2, 1fr);
  }
}