.card {
  border-radius: 16px;
  width: 230px;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cardLink {
  border-radius: 16px;
  text-decoration: none;
}

.imageView {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
}

.material-icons-round {
  font-size: 52px;
  color: white;
}

.label {
  font-size: 24px;
  font-weight: 600;
  color: white;
}

/* Mobile Friendly */

@media (max-width: 750px) {
  .card {
    border-radius: 12px;
    width: 90%;
    padding-bottom: 8px;
    padding-top: 8px;
  }

  .imageView {
    display: flex;
    width: 60px;
    height: 60px;
  }

  .label {
    font-size: 16px;
    padding-right: 8px;;
  }

  .material-icons-round {
    font-size: 36px;
  }
}

@media (max-width: 480px) {
  .card {
    border-radius: 12px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    padding-left: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
  }

  .imageView {
    display: flex;
    justify-content: flex-start;
    width: 50px;
    height: 50px;
  }

  .label {
    font-size: 16px;
  }
}
