.navBar {
  width: 100%;
  padding: 12px 0;
  letter-spacing: 1.2px;
  display: flex;
  
  // background-color: pink;

  @media screen and (max-width: 650px)  {
    justify-content: center;
  }

  .navTitle {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #000000;

    padding-right: 16px;
  }
}