body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #F9F9F9;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     background-color: #131415;
//   }

//   .header h1{
//     color: white;
//   }

//   body {
//     color: white;
//   }

// }