.App {
  padding-left: 10%;
  padding-right: 10%;
  background-color: white;
}

.Hhader {
  font-size: 1.5em;
}

.schoolNav {
  padding-top: 32px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Mobile Friendly

@media (max-width: 800px) {
  .App {
    padding-left: 32px;
    padding-right: 32px;
  }
}

// @media (max-width: 720px) {
//   .App {
//     padding-left: 16px;
//     padding-right: 16px;
//   }
// }

@media (max-width: 350px) {
  .App {
    padding-left: 8px;
    padding-right: 8px;
  }
}
